html * {
	border: 0;
	padding: 0;
	margin: 0;
}
header#primary-header {
	background-image: url(images/florence.jpg);
	background-size: cover;
	width: 100%;
	min-height: 500px;
}
header {
	background-color: #94b1d3;
}
header nav {
	background: url(images/logo.svg) no-repeat;
	padding-left: calc(60px + 1em);
	height: 60px;
}
header nav li {
	padding-top: calc(30px - 1em / 2);
}
nav li {
	list-style-type: none;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 1em;
}
nav a {
	text-decoration: none;
	color: #51279B;
}
nav a:visited {
	color: #8662C7;
}
nav a:hover {
	color: #5D69C6;
}
section#header-text {
	color: white;
	margin-top: calc(250px - 48px - 24px);
	margin-left: calc(60px + 1rem);
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 24px;
	font-weight: normal;
}
h3 {
	font-size: 14px;
	font-weight: normal;
}
a.button {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color: #51279B;
	padding: 1em;
	margin-top: 1em;
}
a.button:visited {
	background-color: #8662C7;
}
a.button:hover {
	background-color: #5D69C6;
}
main {
	background-color: whitesmoke;
	padding: 1rem;
}
article.card {
	display: inline-block;
	background-color: white;
}
article.card p {
	font-size: 12px;
}
.user-feedback {
	font-size: 10px;
	font-weight: 300;
}
.user-feedback > * {
	padding-left: 2em;
	padding-right: 2em;
}
.user-feedback:last-child {
	padding-right: 0;
}
.user-feedback span.likes {
	background: url(images/heart.png) no-repeat;
	background-size: contain;
}
.user-feedback span.comments {
	background: url(images/comment.png) no-repeat;
	background-size: contain;
}
footer {
	font-size: 12px;
	text-align: center;
	background-color: #94b1d3;
}
.image-grid {
	display: grid;
	gap: 1rem;
	grid-template-areas:
	'main main main'
	'rel1 rel2 rel3';
}
.image-grid article {
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.image-grid img#rel1 {
	grid-area: rel1;
}
.image-grid img#rel2 {
	grid-area: rel2;
}
.image-grid img#rel3 {
	grid-area: rel3;
}
.image-grid figure {
	display: grid;
	gap: 1rem;
	justify-items: center;
}
@media(max-width: 850px) {
	.image-grid {
		grid-template-areas:
		'main'
		'rel1'
		'rel2'
		'rel3'
	}
	.image-grid article {
		align-items: start;
	}
}