html * {
	border: 0;
	padding: 0;
	margin: 0;
}
header {
	background-image: url(images/florence.jpg);
	background-size: cover;
	width: 100%;
	min-height: 500px;
}
header nav {
	background: url(images/logo.svg) no-repeat;
	padding-left: 60px;
	height: 60px;
}
nav li {
	list-style-type: none;
	text-transform: uppercase;
	display: inline-block;
	padding-top: calc(30px - 1em / 2);
	padding-left: 1em;
}
nav a {
	text-decoration: none;
	color: #51279B;
}
nav a:visited {
	color: #8662C7;
}
nav a:hover {
	color: #5D69C6;
}
header div {
	color: white;
	margin-top: calc(250px - 48px - 24px);
	margin-left: calc(60px + 1rem);
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 24px;
}