header {
	background-image: url(images/florence.jpg);
	background-size: cover;
	width: 100%;
	min-height: 500px;
}
header nav {
	background: url(images/logo.svg) no-repeat;
	padding-left: 60px;
	height: 60px;
}
nav li {
	list-style-type: none;
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: #51279B;
}
nav a:visited {
	color: #8662C7;
}
nav a:hover {
	color: #5D69C6;
}